@model SASF.MVC.ViewModels.FichaViewModel
@{
    Layout = null;
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="generator" content="BCL easyConverter SDK 5.0.08">
    <style type="text/css">

        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            /*margin: 47px 0px 107px 89px;*/
            padding: 0px;
            border: none;
            width: 705px;
        }





        #page_2 {
            position: relative;
            overflow: hidden;
            /*margin: 95px 0px 112px 113px;*/
            padding: 0px;
            border: none;
            width: 705px;
        }

        #page_3 {
            position: relative;
            overflow: hidden;
            /*margin: 95px 0px 112px 113px;*/
            padding: 0px;
            border: none;
            width: 681px;
        }





        .ft0 {
            font: 19px 'Cambria';
            line-height: 22px;
        }

        .ft1 {
            font: bold 19px 'Cambria';
            line-height: 22px;
        }

        .ft2 {
            font: bold 15px 'Cambria';
            line-height: 20px;
        }

        .ft3 {
            font: 15px 'Cambria';
            line-height: 20px;
        }

        .ft4 {
            font: bold 19px 'Cambria';
            text-decoration: underline;
            line-height: 22px;
        }

        .ft5 {
            font: bold 16px 'Cambria';
            line-height: 19px;
        }

        .ft6 {
            font: 16px 'Cambria';
            line-height: 19px;
        }

        .ft7 {
            font: bold 13px 'Cambria';
            line-height: 15px;
        }

        .ft8 {
            font: 16px 'Cambria';
            line-height: 18px;
        }

        .ft9 {
            font: 16px 'Cambria';
            margin-left: 11px;
            line-height: 18px;
        }

        .ft10 {
            font: 16px 'Cambria';
            margin-left: 11px;
            line-height: 19px;
        }

        .ft11 {
            font: bold 16px 'Cambria';
            line-height: 18px;
        }

        .ft12 {
            font: 16px 'Cambria';
            margin-left: 10px;
            line-height: 18px;
        }

        .ft13 {
            font: 16px 'Cambria';
            margin-left: 11px;
            line-height: 29px;
        }

        .ft14 {
            font: bold 16px 'Cambria';
            line-height: 29px;
        }

        .ft15 {
            font: bold 13px 'Cambria';
            line-height: 25px;
        }

        .ft16 {
            font: 16px 'Cambria';
            line-height: 29px;
        }

        .ft17 {
            font: 16px 'Cambria';
            margin-left: 7px;
            line-height: 19px;
        }

        .ft18 {
            font: 14px 'Cambria';
            line-height: 16px;
        }

        .p0 {
            text-align: left;
            padding-left: 70px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-left: 93px;
            padding-right: 94px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -83px;
        }

        .p2 {
            text-align: left;
            padding-left: 151px;
            margin-top: 32px;
            margin-bottom: 0px;
        }

        .p3 {
            text-align: left;
            padding-left: 208px;
            margin-top: 8px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-left: 24px;
            margin-top: 8px;
            margin-bottom: 0px;
        }

        .p5 {
            text-align: justify;
            padding-left: 24px;
            padding-right: 76px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: left;
            padding-left: 24px;
            margin-top: 14px;
            margin-bottom: 0px;
        }

        .p7 {
            text-align: left;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p8 {
            text-align: left;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .p9 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p10 {
            text-align: justify;
            padding-left: 24px;
            padding-right: 76px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -24px;
        }

        .p11 {
            text-align: left;
            padding-left: 24px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .p12 {
            text-align: left;
            padding-left: 24px;
            padding-right: 283px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -24px;
        }

        .p13 {
            text-align: justify;
            padding-left: 24px;
            padding-right: 76px;
            margin-top: 11px;
            margin-bottom: 0px;
        }

        .p14 {
            text-align: left;
            padding-left: 24px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p15 {
            text-align: justify;
            padding-left: 24px;
            padding-right: 75px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p16 {
            text-align: justify;
            padding-right: 76px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: justify;
            padding-right: 76px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p18 {
            text-align: left;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p19 {
            text-align: left;
            padding-left: 180px;
            margin-top: 14px;
            margin-bottom: 0px;
        }

        .p20 {
            text-align: right;
            padding-right: 34px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p21 {
            text-align: right;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p22 {
            text-align: right;
            padding-right: 58px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p23 {
            text-align: right;
            padding-right: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 283px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 319px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 22px;
        }

        .tr1 {
            height: 20px;
        }

        .t0 {
            width: 602px;
            margin-top: 31px;
            font: bold 16px 'Cambria';
        }
    </style>
</head>

<body>
    <div id="page_1">


        <p class="p0 ft2"><b>PLASFNI - Plano de Assistência Funeral de Nova Iguaçu Ltda<span class="ft0">.</span></b></p>
        <p class="p1 ft3">Rua Cel. Francisco Soares, 71, sl. 510, Centro de Nova Iguaçu/RJ - Tel: (021) <nobr>2797-3110.</nobr> CNPJ 15.073.6740001/93. Nome fantasia: <span class="ft2">Sasf Assistência (SASF II)</span></p>
        <p class="p2 ft4"><b>CONTRATO DE PRESTAÇÃO DE SERVIÇOS</b></p>
        <p class="p3 ft4"><b>CODIÇÕES GERAIS (SASF II)</b></p>

        <p class="p4 ft7"><span class="ft5"><b>Cláusula I </b></span><span class="ft6">- </span><b>OBJETIVO DO CONTRATO :</b></p>
        <p class="p5 ft6">O objetivo deste instrumento particular e intransferível é a prestação dos serviços de Assistência à realização do Funeral do Associado ou seus dependentes devidamente incluídos na Proposta de Admissão, parte integrante deste Contrato, <nobr>observando-se</nobr> as condições gerais aqui estabelecidas.</p>

        <p class="p6 ft7"><span class="ft5"><b>Cláusula II </b></span><span class="ft6">- </span><b>DOS DIREITOS DOS ASSOCIADOS:</b></p>
        <p class="p5 ft6">O Sasf dará cobertura pagando todas as despesas para realização do sepultamento, em cemitério público, exceto abertura e exumação de restos mortais, compreendendo tais despesas:</p>
        <p class="p10 ft8"><span class="ft11">1.</span><span class="ft12">Urna Mortuária cód. 01;</span></p>
        <p class="p10 ft8"><span class="ft11">2.</span><span class="ft12">Capela para velar o corpo;</span></p>
        <p class="p10 ft8"><span class="ft11">3.</span><span class="ft12">Remoção do corpo para o local de sepultamento; até a distancia de 150 KM.</span></p>
        <p class="p10 ft8"><span class="ft11">4.</span><span class="ft12">Ornamentação do Corpo e Coroa de flores naturais e (ou) artificiais;</span></p>
        <p class="p10 ft8"><span class="ft11">5.</span><span class="ft12">Locação de espaço (cova rasa, gaveta ou carneira) em Cemitério Público por três anos, na Cidade do Rio de Janeiro, baixada Fluminense </span><span class="ft11">exceto em Duque de Caxias e São João de Meriti.</span></p>
        <p class="p10 ft8"><span class="ft11">6.</span><span class="ft12">Registro do óbito em Cartório registrado pela família;</span></p>
        <p class="p10 ft8"><span class="ft11">7.</span><span class="ft12">Pagamento das taxas Municipais relativo ao sepultamento. </span>

        <p class="p6 ft7"><span class="ft5"><b>Cláusula III </b></span><span class="ft6">- </span><b>DOS PAGAMENTOS:</b></p>
        <p class="p13 ft6">Para os Associados terem direito na cláusula acima, deverão pagar as suas mensalidades até o dia 10 (dez) de cada mês, na Rede Bancaria, ou no Escritório da Sasf (Rua Cel. Francisco Soares 71 Sl 510, <nobr>Centro-Nova</nobr> Iguaçu/RJ).</p>
        <p class="p5 ft6">Parágrafo Primeiro: O Sasf não dará cobertura para realização de Funeral aos associados que estiverem inadimplentes por mais de 15 (dez) dias a partir do vencimento ressalvando Sábado domingo e feriado, e não devolvemos dinheiro.</p>

        <p class="p14 ft7"><span class="ft5">Cláusula IV - DOS REAJUSTES DA MENSALIDADE</span></p>
        <p class="p15 ft6">O período dos reajustes das mensalidades é anual ou por um período inferior se a Lei permitir. A variação dos valores será determinada pelo índice oficial do Governo para o Salário mínimo.</p>

        <p class="p14 ft5"><b>Clausula V - DA CARÊNCIA: </b></p>
        <p class="p5 ft6">Os direitos do associado mencionados na cláusula II terão uma carência de 90 (noventa) dias, para o associado de até 69 (sessenta e nove) anos; acima de 70 (setenta) anos sofrerão uma carência de 180 (cento e oitenta) dias, a partir da data da assinatura da proposta de Adesão e do pagamento da primeira mensalidade.</p>
    </div>
    <div id="page_2">


        <p class="p9 ft7"><b>PARÁGRAFO ÚNICO.</b></p>
        <p class="p16 ft6">O Associado que ficar inadimplente por 60 (sessenta) dias consecutivos, perderá o direito das cláusulas II e III e seus parágrafos, e para retornar ao programa de assistência funeral será submetido a novo período de carência descrito na cláusula V deste contrato.</p>

        <p class="p7 ft5"><b>Cláusula VI - COMO ACIONAR O SASF:</b></p>
        <p class="p17 ft6">Imediatamente após o falecimento de um Associado deve ser comunicado o plantão SASF 24h, pelo telefone (021) <nobr>2797-3110,</nobr> <nobr>3779-4473,</nobr> <nobr>99369-3760,</nobr> <nobr>98938-9111.</nobr> <nobr>Informando-o:</nobr></p>
        <p class="p18 ft6">Nome e matricula do associado falecido;</p>
        <p class="p7 ft6">Hora e local do falecimento e declaração de óbito</p>

        <p class="p18 ft7"><b>PARÁGRAFO PRIMEIRO.</b></p>
        <p class="p16 ft6"><span class="ft6">É</span><span class="ft17"> de exclusiva responsabilidade da família, a obtenção e a entrega ao despachante designado pelo SASF da declaração de óbito do falecido principalmente quando a morte ocorrer em sua residência.</span></p>

        <p class="p7 ft7"><b>PARÁGRAFO SEGUNDO.</b></p>
        <p class="p16 ft6">Em nenhuma hipótese devera a família encomendar diretamente os serviços de qualquer agencia funerária sobre a pena de arcar com as despesas do funeral, pelas quais o SASF não se responsabilizará.</p>

        <p class="p7 ft5"><b>Cláusula VII: DO FORO</b></p>
        <p class="p16 ft6">O Foro eleito pelas partes contratantes será o da comarca da cidade de Nova Iguaçu, no Estado do Rio de Janeiro para dirimir qualquer dúvida.</p>

        <p class="p18 ft5">Cláusula VIII: DAS EXCLUSÕES</p>
        <p class="p17 ft6">Estão excluídos dos serviços de Assistência Funeral os seguintes casos: Inundação, furacão, erupção vulcânica, tempestades, terremotos, movimentos sísmicos, Ocorrência de irradiação decorrente de transmutação nuclear, desintegração por radiatividade, bem como casos de força maior, Situação guerra, comoções sociais, atos de terrorismo e sabotagem, greves e quaisquer outras perturbações de ordem pública ou ainda restrições por parte das autoridades ao livre trânsito, aquisição de jazigo, exumação de corpos que estiverem no jazigo quando do sepultamento, localidades onde a legislação não permitir que o serviço de assistência intervenha; e qualquer outro serviço que não esteja estipulado neste contrato.</p>
        <br />
        <br />
        <p class="p19 ft6">Nova Iguaçu, ________de ________________________________de @Html.Label(DateTime.Today.Year.ToString()).</p>
        <br />
        <br /><br />
        <table cellpadding="0" cellspacing="0" class="t0">
            <tbody>
                <tr>
                    <td class="tr0 td0"><p class="p20 ft18">__________________________________________</p></td>
                    <td class="tr0 td1"><p class="p21 ft6">____________________________________________</p></td>
                </tr>
                <tr>
                    <td class="tr1 td0"><p class="p22 ft5">ASSINATURA DO ASSOCIADO</p></td>
                    <td class="tr1 td1"><p class="p23 ft5">SASF – ASSISTÊNCIA FUNERAL</p></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="page_3">
        <p class="p0 ft2"><b>FICHA PRINCIPAL:</b></p>
        <p class="p0 ft2"><b>@Model.NomeCompleto - @Model.CPF</b></p>
        <br />
        <br />
        <p><b>DEPENDENTES:</b></p>
        <table style="width: 300px; margin-left: 10px; margin-right: 10px;">
            <thead>
                <tr>
                    @foreach (var item in Model.Dependentes)
                    {
                    <th style="background-color: #fcfcfc; border: solid 1px #ccc; width: 220px;">@item.NomeCompletoDep - @item.CPFDep</th>
                    }
                </tr>
            </thead>
            
        </table>

    </div>

</body>
</html>